[user]
	email = macbookpromacbookpromacbookpro@gmail.com
	name = iPolyomino

[init]
	defaultBranch = main

[alias]
	co = checkout
	br = branch
	st = status

[pull]
  rebase = false

[ghq]
	root = ~/go/src/
