[user]
    name = iPolyomino
    email = macbookpromacbookpromacbookpro@gmail.com

[init]
    defaultBranch = main

[alias]
    co = checkout
    br = branch
    st = status

[pull]
    rebase = false

[ghq]
    root = ~/go/src/
